<%- include('header') %>
    <div class="d-flex aign-content-center justify-content-center">
        <div class="main container col-xl-3 col-md-3 col-sm-6 col-12 rounded">
            <div class="title text-center mt-4">
                <h1>Register Form</h1>
            </div>
            <form method="POST" action="/route/login" novalidate>
                <div class="form-group pt-3 ">
                    <span class="type_hint">Enter Name</span>
                    <input type="text" class="form-control " placeholder="Username" name="username" id="username" value="" >
                    <span id="user_valid" class="valid text-danger"></span>
                </div>
                <div class="form-group pt-3">
                    <span class="type_hint">Enter Email</span>
                    <input type="email" class="form-control" placeholder="Email" name="email" id="email" value="">
                    <span id="pass_valid" class="valid text-danger"></span>
                </div>
                <div class="form-group pt-3">
                    <span class="type_hint">Enter Phone</span>
                    <input type="text" class="form-control" placeholder="Phone Number" name="phone" id="phone" value="">
                    <span id="pass_valid" class="valid text-danger"></span>
                </div>
                <div class="form-group pt-3">
                    <span class="type_hint">Enter Password</span>
                    <input type="password" class="form-control" placeholder="Password" name="password" id="password" value="" >
                    <span id="pass_valid" class="valid text-danger"></span>
                </div>
                <div class="pb-4 mt-3 text-center">
                    <button type="submit" class="btn btn-outline-primary rounded-pill login" >Login</button>
                </div>
                <% if(locals.data){ %>
                    <div class="container text-center text-danger pb-2">
                        <%= data %>
                    </div>
                <% } %>
            </form>
        </div> 
   </div> 
<%- include('footer') %>